<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div id="register">
        <h2>Registro</h2>
        <input type="text" id="reg_username" placeholder="Username">
        <input type="email" id="reg_email" placeholder="Email">
        <input type="password" id="reg_password" placeholder="Password">
        <button onclick="register()">Registrar</button>
        <div id="registerError" class="error"></div>
    </div>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>
